In [ ]:
5
22220228 
20150002
01010101
20140230
11111111

# 1.

In [66]:
T = int(input())
end = [31,28,31,30,31,30,31,31,30,31,30,31]
for i in range(T):
    numbers = input()
    year = numbers[0:4]
    month = int(numbers[4:6])
    day = int(numbers[6:8])
    
    if month > 12 or month < 1 or day > end[month-1]:
        result = -1
    else:
        result = ('{}/{}/{}'.format(year,numbers[4:6],day))
        
    print(f"#{i+1} {result}")

22220228
#1 2222/02/28
20150002
#2 -1
01010101
#3 0101/01/1
20140230
#4 -1
11111111
#5 1111/11/11

# 2.

In [69]:
md = [31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31]
T = int(input())
for tt in range(T):
    s = input()
    month = int(s[4:6])
    day = int(s[6:8])
    res = "-1"
    
    if 1<=month and month<=12 and 1<=day and day<=md[month-1]:
    	res = s[0:4]+"/"+s[4:6]+"/"+s[6:8]
        # 같은 타입일때만 가능하며 여기서는 str 붙여주기 위함.
        
    print( f"#{tt+1} {res}" )

5
22220228
#1 2222/02/28
20150002
#2 -1
01010101
#3 0101/01/01
20140230
#4 -1
11111111
#5 1111/11/11

In [74]:
a = '1'+'2'+'3'
b = 1+2+3
print(a)
print(b)

123
6